<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Estadístiques</title>
</head>
<body>
    <h1>Dashboard Estadístiques de Visites</h1>
    <ul>
        <li><a href="/estadistiques_visites.html" target="_blank">Nombre de visites per pàgina</a></li>
        <li><a href="/temps_mig_per_pagina.html" target="_blank">Temps mitjà per pàgina</a></li>
        <li><a href="/scroll_mig_per_pagina.html" target="_blank">Scroll mitjà per pàgina</a></li>
        <li><a href="/idiomes.html" target="_blank">Distribució d'idiomes</a></li>
        <li><a href="/dispositius.html" target="_blank">Distribució de dispositius</a></li>
    </ul>
</body>
</html>
